<form [formGroup]="mdForm" novalidate>
  <fieldset>
    <legend>Model Driven Form</legend>

    <p>
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="firstname">
    </p>
    @if (!firstname?.valid && (firstname?.touched || firstname?.dirty)) {
      <div [hidden]="!firstname?.errors?.['required']">
        First name is required.
      </div>
      <div [hidden]="!firstname?.errors?.['minlength']">
        Min length is 3.
      </div>
    }

    <p>
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" name="lastname">
    </p>
    @if (!lastname?.valid && (lastname?.touched || lastname?.dirty)) {
      <div [hidden]="!lastname?.errors?.['required']">
        Last name is required.
      </div>
      <div [hidden]="!lastname?.errors?.['minlength']">
        Min length is 3.
      </div>
    }
  </fieldset>
</form>